body,
html {
    height: 100%;
    margin: 0px;
}

.bg {
    /* The image used */
    background-image: url("../images/donation13.jpg");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    margin-bottom: 130px;
}

.banner-title {
    color: #FFF;
    text-align: center;
    font-size: 65px;
    font-family: Inter;
    font-weight: 700;
    padding-top: 175px;
    margin-bottom: 20px;
}

.banner-description {
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-family: Poppins;
    line-height: 28px;
}

.btn-primary {
    padding: 16px 20px;
    color: #FFF;
    font-size: 20px;
    font-family: Inter;
    font-weight: 600;
    border-radius: 5px;
    background: #FF5959;
    border: none;
}

/* main section */

/* section-1 */

.get-donation {
    margin-bottom: 130px;
}

.donation-title {
    font-size: 45px;
    font-weight: 700;
    font-family: Inter;
    text-align: center;
    padding-bottom: 0px;
    margin-bottom: 20px;
}

.donation-description {
    color: #707070;
    text-align: center;
    font-size: 18px;
    font-family: Poppins;
    margin-top: 0px;
    padding-top: 0px;
}

.donation-amounts {
    display: flex;
    justify-content: center;
}

.donation-amounts h3 {
    color: #707070;
    text-align: center;
    font-size: 30px;
    font-family: Inter;
    font-weight: 700;
}

.amount {
    width: 135px;
    height: 123px;
}

.other-amount {
    text-align: center;
    margin: 0px 338px;
}

#other-amount {
    border: none;
    color: #B3B3B3;
    text-align: center;
    font-size: 18px;
    font-family: Poppins;
    line-height: 28px;
}

hr {
    margin-bottom: 30px;
}

/* section-2 */

.donation-plan {
    margin-bottom: 112px;
}

.card-container {
    display: flex;
    gap: 24px;
    padding-left: 90px;
}

.card-1,
.card-2,
.card-3 {
    width: 360px;
    height: 352px;
    padding-top: 65px;
    padding-left: 25px;
}

.card-1 {
    border-radius: 5px;
    background: rgba(79, 157, 166, 0.10);
}

.card-2 {
    border-radius: 5px;
    background: rgba(255, 89, 89, 0.10);
}

.card-3 {
    border-radius: 5px;
    background: #FFF4D6;
}

.card-container h3 {
    color: #121212;
    font-size: 24px;
    font-family: Poppins;
    font-weight: 600;
}

.card-container p {
    color: #707070;
    font-size: 16px;
    font-family: Poppins;
}

/* section-3 */

.how-to-contribute{
    padding-left: 90px;
}

.how-to-contribute img{
    width: 456px;
    height: 477px;
}

.contribute{
    width: 500px;
    height: 550px;
}

.contribute-container{
    display: flex;
    gap: 200px;
    margin-top: 120px;
}

.contribute-container h3 {
    color: #121212;
    font-size: 45px;
    font-family: Inter;
    font-weight: 700;
}

.contribute-container p {
    color: #707070;
    font-size: 18px;
    font-family: Poppins;
    line-height: 28px;
}

.how-to-contribute .btn-primary{
    margin-top: 30px;
}

